*
!app
!client/.babelrc
!client/app
!client/package.json
!client/postcss.config.js
!client/webpack.config.js
!client/webpack_base.config.js
!client/webpack_test.config.js
!config
!db
!lib
!tmp
!config.ru
!Rakefile
!Gemfile
!Gemfile.lock
!package.json
