$fontFamily-basic: 'Lato', sans-serif;

$fontSize-large: 20px;
$fontSize-normal: 16px;
$fontSize-small: 14px;
$fontSize-tiny: 12px;

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-bold: 700;


$zIndex-header: 100;

$transitionSpeed-normal: 0.2s;

$color-blackHaze: #F7F7F7;
$color-blueDeFrance: #3192E7;
$color-white: #ffffff;
$color-iron: #D3D6D9;
$color-bombay: #AFB3B5;
$color-wildSand: #F4F4F4;
$color-mineshaft: #333333;
$color-alizarin: #e74c3c;