$fontFamily-basic: 'Lato', sans-serif;

$fontSize-huge: 24px;
$fontSize-large: 20px;
$fontSize-normal: 16px;
$fontSize-small: 14px;
$fontSize-tiny: 12px;

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-bold: 700;

$zIndex-header: 100;
$zIndex-dropdowns: 200;
$zIndex-inBackground: 1;
$zIndex-onFront: 2;

$transitionSpeed-normal: 0.2s;

$color-blackHaze: #F7F7F7;
$color-blueDeFrance: #3192E7;
$color-white: #ffffff;
$color-iron: #D3D6D9;
$color-bombay: #AFB3B5;
$color-wildSand: #F4F4F4;
$color-mineshaft: #333333;
$color-whisper: #F5F7FA;
$color-alizarin: #e74c3c;
$color-carrot: #e67e22;
$color-amethyst: #9b59b6;
$color-nephritis: #27ae60;

$semColor-text: $color-mineshaft;
$semColor-discreteText: rgba($color-mineshaft, 0.8);
$semColor-disabledText: rgba($color-mineshaft, 0.4);
$semColor-bigHeadersText: $color-mineshaft;
$semColor-border: $color-iron;
$semColor-shadow: darken($color-whisper, 10%);
$semColor-focusShadow: rgba(darken($color-blueDeFrance, 10%), 0.3);


