@import './config';

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $fontSize-normal;
    line-height: 1.4;
    overflow-x: hidden;
    font-family: $fontFamily-basic;
    color: $semColor-text;
}

a {
    color: $color-blueDeFrance;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}