@import "../styles/config";
@import "../styles/mixins/card";

.listing-layout {
    margin: 20px 50px;
}

.listing-layout--content {
    margin-top: 20px;
    padding: 20px;

    @include card;
}

.listing-layout--title {
    font-size: $fontSize-huge;
    font-weight: $fontWeight-light;
    color: $semColor-bigHeadersText;
}

.listing-layout--filter {
    margin-left: 10px;
    min-width: 200px;
}

.listing-layout--side-header-content {
    float: right;
}