@import '../config';

.dropdown-menu {
    min-width: 100px;
    padding: 4px 0;
}

.dropdown-menu--separator {
    line-height: 0;
    padding: 4px 0;
    &:before {
        content: '';
        display: block;
        border-bottom: 1px solid $semColor-border;
    }
}

.dropdown-menu--item {
    padding: 8px 16px;
    display: block;
    font-family: $fontFamily-basic;
    font-size: $fontSize-small;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &:not(.dropdown-menu--item__disabled) {
        &.dropdown-menu--item__active,
        &:hover {
            background-color: $color-blueDeFrance;
            color: $color-white;
        }
    }

    &.dropdown-menu--item__disabled {
        color: $semColor-disabledText;
    }
}