@import '../config';

.form {
    
}

.form--field {
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.form--field--label {
    float: left;
    width: 200px;
    font-size: $fontSize-small;
}

.form--field--control {
    width: 100%;
}

.form__label-top {
    
    .form--field {
        margin-left: 0;
    }
    
    .form--field--label {
        display: block;
        float: none;
        width: auto;
        margin-bottom: 4px;
        font-size: $fontSize-small;
    }
}

.form--buttons {
    margin-top: 10px;
}

.form--errors {
    margin-top: 5px;
}

.form--errors--error {
    color: $color-alizarin;
    font-size: $fontSize-tiny;
    
}