@import '../config';

@mixin placeholder() {
    color: $color-bombay;
    font-weight: $fontWeight-light;
}

.input,
.select,
.textarea {
    font-family: $fontFamily-basic;
    font-size: $fontSize-normal;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid $color-iron;
    transition-property: border-color;
    transition-duration: $transitionSpeed-normal;
    background-color: $color-white;
    -webkit-appearance: none;

    &::-webkit-input-placeholder {
        @include placeholder();
    }

    &::-moz-placeholder {
        @include placeholder();
    }

    &:-ms-input-placeholder {
        @include placeholder();
    }

    &:-moz-placeholder {
        @include placeholder();
    }

    &:hover {
        border-color: $color-bombay;
    }

    &:focus {
        outline: 0;
        border-color: $color-blueDeFrance;
        box-shadow: 0 0 10px $semColor-focusShadow;
        background-color: transparent;
    }
}

.select {
    min-width: 50px;

    padding-right: 40px;
    background: {
        image: url('../../images/icons/chevron-down.svg');
        repeat: no-repeat;
        position: calc(100% - 10px) center;
        size: 15px 15px;
    }
}