@import '../config';

.input {
    
    @mixin placeholder() {
        color: $color-iron;
        font-weight: $fontWeight-light;
    }
    
    font-family: $fontFamily-basic;
    font-size: $fontSize-normal;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid $color-iron;
    transition-property: border-color;
    transition-duration: $transitionSpeed-normal;
    
    &::-webkit-input-placeholder {
        @include placeholder();
    }
    
    &::-moz-placeholder {
        @include placeholder();
    }
    
    &:-ms-input-placeholder {
        @include placeholder();
    }
    
    &:-moz-placeholder {
        @include placeholder();
    }
    
    &:hover {
        border-color: $color-bombay;
    }
    
    &:focus {
        outline: 0;
        border-color: $color-blueDeFrance;
        background-color: transparent;
    }
}