@import "../config";

$labels: (
    primary: (
        color: $color-blueDeFrance,
        secondaryColor: $color-white
    ),
    success: (
        color: $color-nephritis,
        secondaryColor: $color-white
    ),
    info: (
        color: $color-amethyst,
        secondaryColor: $color-white
    ),
    warning: (
        color: $color-carrot,
        secondaryColor: $color-white
    ),
    danger: (
        color: $color-alizarin,
        secondaryColor: $color-white
    )
);

.label {
    font-size: $fontSize-tiny;
    font-weight: $fontWeight-bold;
    padding: 2px 5px;
    border-radius: 3px;

    @each $name, $config in $labels {
        &.label__#{$name} {
            background-color: map-get($config, 'color');
            color: map-get($config, 'secondaryColor');

            &.label__outline {
                background-color: map-get($config, 'secondaryColor');
                color: map-get($config, 'color');
                border: 1px solid map-get($config, 'color');
            }
        }
    }
}

