@import '../config';

@mixin hoverableHeaderItem {
    background-color: inherit;
    cursor: pointer;

    &:hover {
        background-color: $color-whisper;
    }
}

.main-header {
    background-color: $color-white;
    height: 48px;
    position: fixed;
    width: 100%;
    z-index: $zIndex-header;
    box-shadow: 0 2px 4px $semColor-shadow;
}

.main-header--user {
    float: right;
    height: 100%;
    padding-left: 20px;
    padding-right: 36px;
    line-height: 0;
    border: 0;
    outline: 0;

    &.main-header--user__pressed {
        background-color: $color-whisper;
    }

    background: {
        image: url('../../images/icons/chevron-down.svg');
        repeat: no-repeat;
        position: calc(100% - 10px) center;
        size: 12px 12px;
    }

    @include hoverableHeaderItem;
}

.main-header--user--dropdown {
    min-width: 200px;
}

.main-header--notifications {
    @include hoverableHeaderItem;
}

.main-header--user--name {
    vertical-align: middle;
    font-size: $fontSize-small;
}

.main-header--user--avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main-header--logo {
    padding: 12px;
    height: 100%;
    margin-left: 20px;
    vertical-align: middle;
    float: left;

    > svg {
        width: 18px;
        height: 22px;
        display: block;
    }

    @include hoverableHeaderItem;
}

.main-header--login {
    margin-top: 7px;
    margin-right: 20px;
    float: right;
}

.main-header--search {
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    height: 100%;
}

.main-header--search--search-bar {
    min-width: 260px;
    margin-top: 8px;
}