@import '../config';

.main-header {
    background-color: $color-white;
    min-height: 40px;
    position: fixed;
    width: 100%;
    z-index: $zIndex-header;
    border-bottom: 1px solid $color-iron;
}

.main-header--user {
    float: right;
}

.main-header--logo {
    display: inline-block;
    padding: 9px;
    height: 40px;
    margin-left: 20px;
    vertical-align: middle;
    
    > svg {
        width: 18px;
        height: 22px;
        display: block;
    }
}

.main-header--login {
    line-height: 40px;
    margin-right: 10px;
}

.main-header--search {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}