@import '../config';

.table {
    width: 100%;
    border: 0;
}

.table {
    thead th {
        text-align: left;
        padding: 10px 5px;
        border-bottom: 1px solid $color-iron;
    }
    
    tbody td {
        padding: 10px 5px;
    }
}