@import '../styles/config';

.search-bar {
    position: relative;
    display: inline-block;
    
    .search-bar--input {
        padding-left: 30px;
        font-size: $fontSize-small;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
    }
}

.search-bar--icon {
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    
    > svg {
        width: 15px;
    }
}

