$color-brand-blue: #15a0c8;
$color-brand-green:#259e01 ;
$color-brand-orange:#ed6e37 ;
$color-brand-text-light: #fff;
$color-brand-red: #D1085D;


$color-brand-text: #05415b;
$color-brand-blue-light: #2f6ca6;
$color-brand-background-light: #dbeefc;
